html {
    background-color: #343131;
    font-family: Helvetica, sans-serif;
}



a:link, a:visited,a:hover,a:active {
    text-align: center;
    display: block;
    color: white;
    font-size: 24px;
    width: 50%;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin: auto;

}
.forms-out {
    margin: 0 auto;
    padding: 0px 0;
    background-color: #343131;
    }
    
    .forms-in {
    font-family: Helvetica, sans-serif;
    width: 93%;
    font-weight: bold;
    margin: 0 auto;
    color: white;
    padding: 15px 0;
    margin-top: auto 0%;
    }
    
    .forms-in div {
    padding: 100px 40px;
    max-width: 20%;
    height: auto;
    background: #2980b9;
    border-radius: 5px;
    padding-bottom: 10%;
    padding-top: 2%;
    margin-bottom: 2%;
    margin: auto;
    }
    

    .forms-in h3 {
    text-align: center;
    }
    
    .forms-in input {
    border: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    }
    
    .forms-in button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 14px 50px;
    background: white;
    color: #55a5d9;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    }
    
    .forms-in button:hover {
    opacity: 0.7;
    }
    
    .hide {
    display: none;
    }
    
    #forgot-password {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    }
    
    #forgot-password:hover {
    opacity: 0.7;
    }