@import "theme.css";


.form-group {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

li {
  color: #404040;
  font-weight: 300 !important;
}
span {
  font-weight: 300 !important;
}

h1 {
  color: #404040;
}

.material-icons{
  font-size: 16px;
}

#delete-recipe {
  width: 16px !important;
}

#clear-file {
  width: 16px !important;
}

.darrow form {
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-align: left;
  color: #404040;
  padding: 25px;
  font-weight: 600;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.progress-bar {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.progress {
  background-color: green;
  border-radius: 5px;
  padding: 10px;
}

.status {
  font-size: 90%;
  padding: 2px;
  margin: 2px;
  margin-top: 20px;
}

.darrow form label {
  color: #404040;
}

.darrow form input,
.darrow input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  max-width: 100%;
  resize: none;
  border-radius: 5px;
  text-align: left;
  font-weight: 400;
}

.darrow form textarea {
  max-width: 0px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  height: 15%;
  max-width: 100%;
  resize: vertical;
  text-align: left;
  border-radius: 5px;
  font-weight: 400;
  min-height: 75px;
  line-height: 24px;
}

.darrow form textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #bfbfbf;
}
.darrow form input:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #bfbfbf;
}

.toctree-l1 {
  display: flex;
  align-items: center;
}

#delete {
  background-color:  rgb(210, 0, 0);
}
#delete:hover{
  background-color: rgb(250, 0, 0);
}

.material-symbols-outlined {
  position: relative;
  color: #d9d9d9;
  font-size: large !important;
  text-align: center;
  padding: auto;
  width:auto;
  display: none !important;
}

.button_group {
  width: 100%;
  display: flex;
  flex: 1;
  grid-gap: 2px;
}

.darrow form button {
  border-radius: 5px;
  width: 100%;
  border: none;
  background: #343131;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  min-width: 50px;
}

.darrow form button:hover {
  background: #6a6565;
  transition: all ease-in-out 0.5s;
}

.hiddenDebug {
  color: #404040;
}

.hiddenDebug input {
  border-radius: 5px !important;
  width: 50%;
}

.tooltip .tooltiptext span {
  color: #404040 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 75%;
  text-align: center;
  padding: 2px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -25%;
  margin-bottom: 0px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif !important;
  text-align: right !important;
  font-size: 90%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.scrollable-div {
  height: 300px;
  overflow: auto;
}

/* For webkit-based browsers */
::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf; /* Color of the scrollbar handle */
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9; /* Color of the scrollbar handle when hovered */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* Color of the scrollbar track */
}

/* Handle */
html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #bfbfbf; /* Color of the scrollbar handle */
  border-radius: 2.5px;
}

/* Handle on hover */
html[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf; /* Color of the scrollbar handle when hovered */
}

/* Handle on hover */
html[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #101010; /* Color of the scrollbar track */
}

html[data-theme="dark"] #cancel-button[disabled] {
  background-color: #101010;
  transition: background-color 0.3s ease-in-out;
}

html[data-theme="dark"] .darrow form {
  background-color: #0d0d0d;
  color: #d9d9d9;
  box-shadow: 0 0 0px 0 #d9d9d9;
}

html[data-theme="dark"] .darrow form label {
  color: #d9d9d9;
}
html[data-theme="dark"] .darrow form button {
  background-color: #343434;
  color: #d9d9d9;
}
html[data-theme="dark"] .darrow form button:hover {
  background-color: #141414 !important;
  transition: all ease-in-out 0.5s;
}
html[data-theme="dark"] .darrow form input {
  background-color: #d9d9d9;
  color: #000;
}
html[data-theme="dark"] .darrow form textarea {
  background-color: #d9d9d9;
  color: #000;
}
html[data-theme="dark"] .darrow input {
  background-color: #d9d9d9;
}

html[data-theme="dark"] .tooltip .tooltiptext span {
  color: #d9d9d9 !important;
}

html[data-theme="dark"] .hiddenDebug label {
  color: #d9d9d9 !important;
}

html[data-theme="dark"] .hiddenDebug input {
  background-color: #d9d9d9 !important;
  color: #000;
}

html[data-theme="dark"] li {
  color: #d9d9d9;
}

html[data-theme="dark"] h1 {
  color: #d9d9d9;
}

html[data-theme="dark"] #delete {
  background-color: rgb(120, 0, 0);
}
html[data-theme="dark"] #delete:hover{
  background-color: rgb(80, 0, 0) !important;
}